body {
  font-family: 'Roboto', 'Raleway', sans-serif;
  background-color: var(--tertiary-text-color);
  color: var(--body-text-color);
  font-size: 14px;
  letter-spacing: 0.03em;
}

section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  color: var(--primary-text-color);
}
