.about {
  padding-top: 0px;
}
.about__list {
  @include list;
  display: flex;

  .about__item + .about__item {
    margin-left: 30px;
  }
}

.about__item {
  position: relative;
}

.about__text {
  position: absolute;
  bottom: 0;
  width: 370px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  line-height: 1.5;
  text-transform: uppercase;

  color: var(--tertiary-text-color);
  background-color: rgba(47, 48, 58, 0.8);
}
