.clients__list {
  @include list;
  display: flex;

  .clients__item + .clients__item {
    margin-left: 30px;
  }

  .clients__item {
    width: 170px;
    height: 92px;
  }

  .clients__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: var(--icon-color);
    border-radius: 4px;
    border: 1px solid;
    transition: color 250ms var(--timing-function);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
}

.icon__client {
  fill: currentColor;
}
