.team {
  background-color: var(--button-bc);
}

.team__list {
  @include list;
  display: flex;
  height: 428px;

  .team__item + .team__item {
    margin-left: 30px;
  }
}

.team__item {
  overflow: hidden;
  background-color: var(--tertiary-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  &:hover .team__img {
    transform: scale(1.2);
  }
}

.team__img {
  transition: transform 1000ms ease;
}

.team__workers {
  padding: 30px 0;
}
.team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}

.team__text {
  margin-top: 10px;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  color: var(--secondary-text-color);
}

.social__list {
  @include list;
  display: flex;
  justify-content: center;
  margin-top: 16px;

  .social__item + .social__item {
    margin-left: 10px;
  }
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--icon-color);
  transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function);

  &:hover,
  &:focus {
    color: var(--tertiary-text-color);
    background-color: var(--accent-color);
  }
}

.social__icon {
  fill: currentColor;
}
